In [23]:
import pandas as pd

In [24]:
df = pd.read_csv("./Unicorn_Companies.csv")

In [10]:
df.head()

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors
0,Bytedance,$180B,4/7/17,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$100B,12/1/12,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100B,7/3/18,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95B,1/23/14,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,$46B,12/12/11,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita..."

In [25]:
df.loc[:, "Valuation ($)"] =df.loc[:, "Valuation"].str.replace("$","").str.replace("B","000000000").astype("int64")

In [26]:
df.loc[:, "Funding ($)"] =df.loc[:, "Funding"].str.replace("$","").str.replace("Unknown","-1").str.replace("M","000000").str.replace("B","000000000").astype("int64")

In [27]:
df.dtypes

Company             object
Valuation           object
Date Joined         object
Industry            object
City                object
Country/Region      object
Continent           object
Year Founded         int64
Funding             object
Select Investors    object
Valuation ($)        int64
Funding ($)          int64
dtype: object

In [28]:
df.drop(columns=["Valuation","Funding"],axis=1,inplace=True)

In [29]:
df['Date Joined'] =pd.to_datetime(df["Date Joined"])

C:\Users\HP 1030 G2\AppData\Local\Temp\ipykernel_10976\2979503534.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date Joined'] =pd.to_datetime(df["Date Joined"])

In [30]:
df.loc[:,"year joined"]=df["Date Joined"].dt.year

In [ ]:
# df.loc[:, "yeas to unicorn status"]=df["year Joined"]-df[]